body {
    font-family: sans-serif;
    margin: 0;
  }
  
  nav {
    background-color: #333;
    color: #fff;
    font-size: 1.2em;
    padding: 10px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-description {
    font-size: 0.8em;
    margin-top: 5px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  main {
    flex-grow: 1;
    margin-right: 1rem;
  }
  
  aside {
    flex-basis: 25%;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }